header{
    display: flex;
 min-height: 70px;
    background-color: #240202;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Parisienne', cursive;
    user-select: none;
}

body{
    background: rgb(59, 31, 31);
    cursor: url(img/imagenes);
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: white;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: rgb(136, 91, 91);
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
padding: 10px 0px;
    }
}

@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

* {
    margin:0;
    padding:0;
    font:12pt Arial;
}

body {
  background-color:#301204;
}

.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  width: 100px;
  flex-direction:row;
  box-shadow:
   1px 1px 0 rgb(56, 19, 4),
   2px 2px 0 rgb(56, 19, 4),
   3px 3px 0 rgb(56, 19, 4),
   4px 4px 0 rgb(56, 19, 4),
   5px 5px 0 rgb(56, 19, 4),
   6px 6px 0 rgb(56, 19, 4),
   7px 7px 0 rgb(56, 19, 4)
  ;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(221, 15, 15);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(5, 8, 8);
  color:white;
  border:none;
}

/*pie de pagina*/

.pie-pagina{
    width: 100%;
    background-color: #240202;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box2 figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box2 figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box2 h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box2 p{
    color: white;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: rgb(83, 18, 18);
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(211, 26, 26);
}

.pie-pagina .grupo-2{
    background-color: rgb(83, 18, 18);
    padding: 15px 10px;
    text-align: center;
    color: white;

}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
}

/*menu*/
h1{
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
    color: white;
}

.linea{
    background: #d3aed1;
    height: 5px;
    width: 100%;
    display: block;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px;
    overflow: hidden;
}

.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 5);
}

.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
    
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    border: white;
}

.light-box img{
    width: 75vw;
    max-height: 70vw;
}

.light-box:target{
    transform: scale(1);
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #851919;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next{
    display: block;
    background-color: #851919;
    color: white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}

   @media screen and (max-width:400px){
    .galeria{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1dr)) ;
    }
    .close{
        top: 20px;
        right: 20px;

    }
   }
/*menu de sandwich*/

.grid-layout{

    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    right: 25px;
    justify-content:space-between;
    gap: 35px;
}

/*descricion*/
   .card2{
    position: relative;
    width: 300px;
    height: 400px;
    align-items: center;
   }

   .card2 .card_landing{
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px #000;
    background: linear-gradient(transparent 80%, #000), var(--1);
    background-position: center;
    background-size: cover;
    z-index: 100;
    align-items: center;
   }

   .card2 .card_landing h6{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 25px;
    color: white;
   }

   .card2 .card_info{
    position: absolute;
    width: 90%;
    height: 90%;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    padding: 15px;
    background: white;
    z-index: 90;
    transition: .5s;
    box-shadow: #000;
   }


.card2:hover .card_info{
    left: 100%;

}

.card_info .head2 {
    padding: 5px 0;
    border-bottom: solid 1px #851919;
    color: #301204;
}

.card_info .head2 .title2{
    font-size: 20px;
    font-weight: 700;
    color: #851919;
}

.card_info .head2 .description{
    display: flex;
    gap: 10px;
}

.card_info .head2 .description .itemm{
    display: flex;
    gap: 5px;
    align-items: center;
}

.card_info .head .description .itemm i{
   color: #240202;
   font-size: 15px;
}

.card_info .head .description .itemm p{
    font-size: 13px;
 }

 .card_info .content {
    margin-top: 15px;
 }

 .card_info .content .list{
    padding: 10px 15px;
 }

 .card_info .content .list li{
    font-size: 14px;
    margin-bottom: 5px;
 }

 .card_info .action .btn{
    padding: 10px;
    color: white;
    width: 100%;
    text-decoration: none;
    text-align: center;
    background: #851919;
    display: block;
    margin-top: 10px;
 }


/*formulario*/
